.wrapper
  .left-content
    .left-content-top
      %p.left-content-top__user-name
        = current_user.name
        .left-content-top__set.clearfix
          = link_to new_group_path, class: "left-content-top__setting" do
            %i.fa.fa-pencil-square-o.fa-lg
          = link_to edit_user_registration_path, class: "left-content-top__setting" do
            %i.fa.fa-cog.fa-lg

    .left-content-bottom
      %ul.conversation
        -@groups.each do |group|
          %li.conversation__group
            =link_to "/groups/#{group.id}/messages",class: "conversation__group__link" do
              %p.conversation__group__name
                = group.name
              %p.conversation__group__chat-message aa

  .right-content.clearfix

    .right-content__top.cleafix
      %p.chat-group.clearfix
        = @group.name
      .right-content__edit
        = link_to edit_group_path(@group),class: "edit-link" do
          %p.edit-button Edit
      %ul.chat-members.clearfix
        %li.chat-members__members Members:
        -@users. each do |user|
          %li.chat-members__members
            = user.name

    .right-content__middle
      %ul.message
        %li.message__contents.clearfix
          %p.message__contents__sender test
          %p.message__contents__time 2222222
          %p.message__contents__content なんでやねん

    .right-content__chat-footer.clearfix
      %form
        .right-content__chat-footer__body
          %input.text{type:"text", placeholder:"type a message"}
            %label.right-content__chat-footer__body__image
              %input.set_image{type: "file"}
                =fa_icon "image"
        %input.send{type:"submit", value:"Send"}
