.wrapper
  .left-content
    .left-content-top.clearfix
      %p.left-content-top__user-name
        = current_user.name
      .left-content-top__set
        = link_to new_group_path, class: "left-content-top__setting" do
          %i.fa.fa-pencil-square-o.fa-lg
        = link_to edit_user_registration_path, class: "left-content-top__setting" do
          %i.fa.fa-cog.fa-lg


    .left-contant-bottom
      %ul.conversation
      -@groups.each do |group|
        %li.conversation__group
          = link_to "#",class: "conversation__group__link" do
            %p.conversation__group__name
            = group.name
            %p.conversation__group__chat-message sample


  .right-content.clearfix

    .right-content__top.cleafix
      %p.chat-group.clearfix sample
      .right-content__edit
        = link_to "#",class: "edit-link" do
          %p.edit-button Edit
      %ul.chat-members.clearfix Members: aa aa

    .right-content__middle
      %ul.message
        %li.message__contents.cleafix
          %p.message__contents__sender sample
          %p.message__contents__time 2017/02/10 00:00:00
          %p.message__contents__content aa
        %li.message__contents.cleafix
          %p.message__contents__sender sample
          %p.message__contents__time 2017/02/10 00:00:00
          %p.message__contents__content aa

    .chat-footer
      %form
      .label.chat-footer__body
        %input.text{row: "1", placeholder: "type a message", name: "message[body]", id: "message_body"}
        %label.chat-footer__image
          %set_image{type: "file", name: "message[image]", id: "message_image"}
          %i.fa.fa-image
      %input.send{type: "submit", value: "Send"}
