.wrapper
  .left-content
    .left-content-top
      %p.left-content-top__user-name
        = current_user.name
        .left-content-top__set.clearfix
          = link_to new_group_path, class: "left-content-top__setting" do
            %i.fa.fa-pencil-square-o.fa-lg
          = link_to edit_user_registration_path, class: "left-content-top__setting" do
            %i.fa.fa-cog.fa-lg

    .left-content-bottom
      %ul.conversation
        = render partial: 'messages/group', collection: @groups


  .right-content.clearfix

    .right-content__top.cleafix
      %p.chat-group.clearfix
        = @group.name
      .right-content__edit
        = link_to edit_group_path(@group), class: "edit-link" do
          %p.edit-button Edit
      %ul.chat-members.clearfix
        %li.chat-members__members Members:
        = render partial: 'messages/user', collection: @users

    .right-content__middle
      %ul.message
        = render partial: 'messages/message', collection: @messages


    .right-content__chat-footer.clearfix
      = form_for [@group, @message] do |f|
        .right-content__chat-footer__body
          = f.text_field :body, class: "text", placeholder: "type a message"
          %label.right-content__chat-footer__body__image
            = f.file_field :image, class: "set_image"
            = fa_icon "image"
        = f.submit "Send", class: "send"
