%p.header チャットグループが作成されました。
.wrapper
  .left-content
    .left-content-top.clearfix
      %p.left-content-top__user-name sample
      .left-content-top__set
        = link_to "",class: "left-content-top__setting" do
          = fa_icon "pencil-square-o"
        = link_to "",class: "left-content-top__setting" do
          = fa_icon "cog"


    .left-contant-bottom
      %li.group
        = link_to "",class: "group__link" do
          %p.group__name sample
          %p.group__chat-message aa
      %li.group
        = link_to "",class: "group__link" do
          %p.group__name sample
          %p.group__chat-message aa

  .right-content.clearfix

    .right-content__top.cleafix
      %p.chat-group.clearfix sample
      .right-content__edit
        = link_to "#",class: "edit-link" do
          %p.edit-button Edit
      %p.chat-members.clearfix Members: aa aa

    .right-content__middle
      %ul.message
        %li.message__contents.cleafix
          %p.message__contents__sender sample
          %p.message__contents__time 2017/02/10 00:00:00
          %p.message__contents__content aa
        %li.message__contents.cleafix
          %p.message__contents__sender sample
          %p.message__contents__time 2017/02/10 00:00:00
          %p.message__contents__content aa

    .chat-footer
      %form
      .label.chat-footer__body
        %input.text{row: "1", placeholder: "type a message", name: "message[body]", id: "message_body"}
        %label.chat-footer__image
          %set_image{type: "file", name: "message[image]", id: "message_image"}
          = fa_icon "image"
      %input.send{type: "submit", value: "Send"}




